.text-primary {
  color: #013006 !important;
}

.btn-outline-primary {
  color: #013006 !important;
  border-color: #013006 !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #013006 !important;
  border-color: #013006 !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #013006 !important;
  border-color: #013006 !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #013006 !important;
  border-color: #013006 !important;
}

.form-control:focus {
  border-color: #013006 !important;
  box-shadow: 0 0 0 0.2rem rgba(1, 48, 6, 0.25) !important;
}